# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#CodeBlocks
*.layout
*.cbp
*.depend

#html buildlog
*.html

#cmake Files & Folders
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
test
